
<div class="w logo_wrap2">
	<div class="logo_inner left"><a href="#">食潮天下</a></div>
	<div class="logo_search right">
	<form class="bs-example bs-example-form" role="form">
	<div id="ser_box">
				<input type="search" id="ipt" /><span><input id="su" value="搜索一下" class="bg s_btn" type="submit"></span>
			</div>
			<div id="bot_box">
				<ul id="oul"></ul>
			</div>	
		</form>
		</div>
	<div class="logo_nav">
		<a href="index.php" class="on" >首页</a>
		<a href="cookbook.php"  target="_blank">菜谱</a>
		<a href="topic.php"  target="_blank">话题</a>
		<a href="#"  target="_blank">潮汕文化</a>
	</div>
</div>
