<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><?php echo $title; ?></title>
	<link href="../assets/img/title.ico" type="image/x-icon" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../assets/css/logins.css"/>
	<script src="../assets/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../assets/js/fullplay.js"></script>
	<script type="text/javascript" src="../assets/js/ajax.js"></script>

</head>
<body>
<div id="bodyBox">
	<div id="bodyPage">
   	  <img src="../assets/img/bg1.jpg" class="bg">
      <img src="../assets/img/bg2.jpg" class="bg">
      <img src="../assets/img/bg3.jpg" class="bg">
      <img src="../assets/img/bg4.jpg" class="bg">
    </div>   
</div>