<div class="mod_right" style="position: relative;
    top: 40px;
    left: 120px;">
 <div class="mc_cookbook">
 <div class="cook_navigation_bar">
 	<a  href="mc-collect.php" class="cook_navigation <?php if($_SERVER['REQUEST_URI']=='/chaoshan_food/php/mc-collect.php') echo 'cook_navigation_on'  ?>"  >我收藏的菜谱</a>
 	<a  href="mc-collect-topic.php" class="cook_navigation <?php if($_SERVER['REQUEST_URI']=='/chaoshan_food/php/mc-collect-topic.php') echo 'cook_navigation_on'  ?>" >话题</a>
 	
 	</div>
</div> 
</div>