<div class="mod_right" style="position: relative;top: 40px; left: 120px;">
 <div class="mc_cookbook">
 <div class="cook_navigation_bar">
 	<a  href="mc-CookBook.php" class="cook_navigation <?php if($_SERVER['REQUEST_URI']=='/chaoshan_food/php/mc-CookBook.php') echo "cook_navigation_on"  ?>"  >我的菜谱</a>
 	<a  href="mc-examing.php" class="cook_navigation <?php if($_SERVER['REQUEST_URI']=='/chaoshan_food/php/mc-examing.php') echo "cook_navigation_on"  ?>" >待审核</a>
 	<a  href="mc-examed.php" class="cook_navigation <?php if($_SERVER['REQUEST_URI']=='/chaoshan_food/php/mc-examed.php') echo "cook_navigation_on"  ?>"   >退稿箱</a>
 	<button class="cook_navigation_btn" onclick="window.open('mc-editCookbook.php')">发布新菜谱</button>
 	</div>
</div> 
</div>